/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent: rgb(255, 0, 112);
  --main-heading-color: rgba(219, 0, 255, 1);
  --black: rgba(0, 0, 40, 1);
  --body-bg: rgba(0, 0, 40, 1);
  --link-shadow-color: rgba(255, 0, 112, 1);
}

.theme-dark {
  .card__text {
    color: var(--white);
  }
  
  .header__theme-menu-button,
  .section-heading {
    color: var(--accent);
  }
  .header__theme-menu-button_active {
    border: 1px solid var(--accent);
  }
  .header-rec {
    display: initial;
  }
  .decorated-zone::after,
  .decorated-zone::before {
    border-color: var(--accent);
  }
}
