/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --title-color: #ffc2e6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color: #353430;
  --backgroung-image: url(../images/cover-image-light.png);
}

:root.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color: #353430;
    --backgroung-image: url(../images/cover-image-light.png);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
  .theme-light .header-rec,
  .theme-auto .header-rec {
    display: none;
  }
}
