/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --body-bg: rgba(255, 241, 247, 1);
    --main-heading-color: rgba(255, 194, 230, 1);
    --accent: rgba(255, 141, 203, 1);
    --black: rgba(53, 52, 48, 1);
    --link-shadow-color: rgba(255, 141, 203, 1);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__theme-menu-button,
  .section-heading,
  .card__text {
    color: var(--black);
  }

  .header__theme-menu-button_active {
    border-color: var(--black);
  }

  .header-rec {
    display: none;
  }

  .decorated-zone::after,
  .decorated-zone::before {
    border-color: var(--black);
  }

  .header__theme-menu-button:hover {
    border-color: rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid rgba(53, 52, 48, 1);
  }
}

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --body-bg: rgba(255, 241, 247, 1);
  --main-heading-color: rgba(255, 194, 230, 1);
  --accent: rgba(255, 141, 203, 1);
  --black: rgba(53, 52, 48, 1);
  --link-shadow-color: rgba(255, 141, 203, 1);
}

.theme-light {
  .page {
    background-image: url(../images/cover-image-light.png);
  }
  .header__theme-menu-button,
  .section-heading,
  .card__text {
    color: var(--black);
  }
  .header__theme-menu-button_active {
    border-color: var(--black);
  }

  .header-rec {
    display: none;
  }

  .decorated-zone::after,
  .decorated-zone::before {
    border-color: var(--black);
  }
  .header__theme-menu-button:hover {
    border-color: rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid rgba(53, 52, 48, 1);
  }
}
