/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 66px;

  min-height: 668px;
}

.header-rec {
  position: absolute;
  top: 10px;
  right: 19px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent);
  text-transform: uppercase;
  padding-right: 19px;
}

.header-rec::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 0px 4px 2px var(--accent);
}

.decorated-zone {
  position: relative;
  width: 100%;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
}

.header__theme-menu {
  width: fit-content;
  margin-left: auto;
  margin-bottom: 66px;
  /* position: absolute;
  top: 75px;
  right: 10px; */
}

.header__theme-menu-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 11px;
}

.header__theme-menu-button {
  border: none;
  background: none;
  padding: 2px 13px 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: var(--accent);
  text-transform: lowercase;
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid rgba(255, 0, 112, 1);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent);
}

.heading {
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  filter: drop-shadow(4px 4px 0px var(--accent));
  color: var(--main-heading-color);
  margin-bottom: 55px;
}

.header__text {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--black);
  background-color: var(--accent);
}

.main {
  padding: 40px 10px;
}

.why-section {
  margin-bottom: 50px;
}

.section-heading {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent);
  margin-bottom: 20px;
}

.section__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.card {
  width: 100%;
}

.card__heading {
  width: 100%;
  background-color: var(--accent);
  color: var(--black);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  margin-bottom: 10px;
}

.how-section .card__heading {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--white);
}

.card .card__text:not(:last-child) {
  margin-bottom: 10px;
}

.text-link {
  text-shadow: 1px 1px 0px var(--link-shadow-color);
  text-decoration: none;
}

.text-link:hover {
  /* text-decoration: underline;
  text-underline-offset: 2px; */
  border-bottom: 1px solid var(--accent);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid rgba(241, 178, 206, 1);
}

.what-section {
  margin-bottom: 48px;
}

.section-subheading {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent);
  margin-bottom: 20px;
}

.how-section {
  margin-bottom: 50px;
}

.picture-section__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
}

.picture-section__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  width: 100%;
  padding: 10px;
  min-height: 667px;
  display: grid;
  place-items: center;
  height: 100vh;
}

.footer .heading {
  margin-top: 52px;
}

.picture-section .section-subheading {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 192px;
    padding-left: 0px;
    padding-bottom: 183px;
    padding-right: 20px;
    background-position: top center;
  }

  .header-rec {
    top: 19px;
    right: 29px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu {
    margin-bottom: 175px;
  }

  .heading {
    margin-bottom: 165px;
    letter-spacing: 2px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-width: 364px;
    margin-left: auto;
  }

  .why-section,
  .how-section {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    margin-bottom: 80px;
  }

  .main {
    padding: 60px 20px;
  }

  .what-section .section-heading {
    max-width: 236px;
  }

  .what-section {
    margin-bottom: 80px;
  }

  .picture-section .section-subheading {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .picture-section__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .picture-section__gallery-img {
    object-fit: fill;
  }

  .picture-section__gallery-img:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .picture-section__gallery-img:nth-child(2) {
    grid-area: 1/3/3/4;
  }

  .picture-section__gallery-img:nth-child(4) {
    grid-area: 2/2/3/3;
  }

  .picture-section__gallery-img:nth-child(3) {
    grid-area: 2/1/4/2;
  }

  .picture-section__gallery-img:nth-child(5) {
    grid-area: 3/2/4/4;
  }

  .footer {
    min-height: 1024px;
  }

  .footer .heading {
    font-size: 120px;
    margin: 0;
  }

}
@media (min-width: 1024px) {
  .header {
    padding-top: 20px;
    padding-bottom: 134px;
  }

  .header__theme-menu {
    margin-left: 395px;
    margin-bottom: 274px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header .heading {
    margin-bottom: 114px;
    font-weight: 700;
    font-style: Bold;
    font-size: 157px;
    line-height: 83%;
  }

  .header__text {
    max-width: 491px;
  }

  .heading {
    letter-spacing: 0;
  }

  .why-section,
  .how-section {
    grid-template-columns: 314.96px 1fr;
    gap: 19.93px;
    margin-bottom: 80px;
  }

  .what-section .section-heading {
    max-width: 315px;
  }

  .what-section .section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .what-section {
    margin-bottom: 80px;
  }

  .picture-section__gallery {
    grid-template-rows: 260px 315px 433px;
  }

  .footer {
    min-height: 768px;
  }
  
  .footer .heading {
    font-size: 157px;
  }
}
