/* Основные стили проекта для темной темы (desktop-first подход) */

.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Header (Grid layout для desktop) */

.header {
  min-block-size: 100vh;
  min-height: 768px;
  padding: 20px 0;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

/* REC элемент */

.header-rec {
  position: absolute;
  top: 20px;
  right: 29px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--btn-color);
  text-transform: uppercase;
  padding-right: 19px;
}

.header-rec::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

/* Декоративные углы */

.decorated-zone {
  position: relative;
  width: 100%;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
}

/* Меню тем (по центру для desktop) */

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  background: none;
  padding: 2px 13px 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: var(--btn-color);
  text-transform: lowercase;
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

/* Главный заголовок */

.heading {
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--title-color);
  align-self: center;
}

/* Текст с акцентом */

.text_accent {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  color: var(--sub-text-color);
  background-color: var(--accent-color);
}

.header__text {
  max-width: 491px;
  justify-self: end;
  align-self: center;
  margin-right: 20px;
}

/* Main */

.main {
  padding: 60px 20px;
}

/* Секции контента */

.content-section {
  display: grid;
  gap: 20px;
  margin-bottom: 80px;
}

.why-section,
.how-section {
  grid-template-columns: 314.96px 1fr;
  gap: 19.93px;

}
/* Заголовки секций */

.section-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--btn-color);
}

.what-section .section-heading {
  max-width: 315px;
}

/* Списки секций */

.section__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.what-section .section__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Карточки */

.card {
  width: 100%;
}

.card__heading {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--sub-text-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  margin-bottom: 10px;
}

.how-section .card__heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.card .card__text:not(:last-child) {
  margin-bottom: 10px;
}

/* Ссылки */

.text-link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  border: 1px solid var(--text-color);
}

/* Подзаголовки */

.section-subheading {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--sub-text-color);
  margin-bottom: 20px;
}

/* Секция с картинками */

.picture-section__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.picture-section__gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.picture-section__gallery-img:nth-child(1) {
  grid-area: 1/1/2/3;
}

.picture-section__gallery-img:nth-child(2) {
  grid-area: 1/3/3/4;
}

.picture-section__gallery-img:nth-child(3) {
  grid-area: 2/1/4/2;
}

.picture-section__gallery-img:nth-child(4) {
  grid-area: 2/2/3/3;
}

.picture-section__gallery-img:nth-child(5) {
  grid-area: 3/2/4/4;
}

/* Footer */

.footer {
  width: 100%;
  padding: 20px;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* margin-top: -55px; */
}

.footer .heading {
  margin: 0px;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

/* Медиа-запрос для планшетов (768px и меньше) */

@media (max-width: 768px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px; */
    /* display: grid;
    justify-content: end;
    align-items: end;
    grid-auto-rows: 1fr min-content 1fr;
    padding: 10px;
    margin-top: 39px; */
    display: grid;
    justify-items: end;
    align-items: end;
    grid-auto-rows: 1fr min-content 1fr;
    padding: 10px;
    margin-top: 161px;
    margin-right: 10px;
    gap: 12px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    max-width: 364px;
  }

  .why-section,
  .how-section {
    grid-template-columns: 236px 1fr;
    margin-bottom: 80px;
  }

  .what-section .section-heading {
    max-width: 236px;
  }

  .what-section .section__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .picture-section .section-subheading {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer {
    min-height: 1024px;
  }

  .footer .heading {
    font-size: 120px;
  }
}

/* Медиа-запрос для мобильных (560px и меньше) */

@media (max-width: 560px) {
  .header {
    padding: 10px;
    min-height: 668px;
  }

  .header-rec {
    top: 10px;
    right: 19px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }

  .heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-width: 355px;
    margin-right: 0;
  }

  .header__theme-menu-list {
    margin-top: 65px;
    gap: 11px;
    padding: 0;
    margin-right: 0;
  }

  .main {
    padding: 40px 10px 0px 10px;
  }

  .section-subheading {
    margin-bottom: 18px;
  }

  .why-section,
  .how-section {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .what-section {
    margin-bottom: 50px;
  }

  .what-section .section-heading {
    max-width: 100%;
  }

  .how-section {
    margin-bottom: 50px;
  }

  .picture-section {
    margin-bottom: 40px;
  }

  .picture-section .section-subheading {
    margin: 0 0px 10px 0px;
  }

  .picture-section__gallery {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 0;
  }

  .picture-section__gallery-img {
    object-fit: cover;
  }

  .picture-section__gallery-img:nth-child(1),
  .picture-section__gallery-img:nth-child(2),
  .picture-section__gallery-img:nth-child(3),
  .picture-section__gallery-img:nth-child(4),
  .picture-section__gallery-img:nth-child(5) {
    grid-area: auto;
  }

  .footer {
    /* height: 667px; */
    height: 100vh;
    padding: 10px;
    min-height: 667px;
  }

  /* .footer. footer.decorated-zone {
    margin-top: 40px;
  } */

  .footer .heading {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
